.header {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0f0;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  font-size: 14px;
}

.nav-items > ul > li {
  margin: 10px;
  padding: 10px;
}

.logo {
  width: 200px;
  height: 100px;
}

.restaurant-card {
  width: 180px;
  height: 250px;
  padding: 5px;
  font-size: 9px;
  margin: 10px;
  background-color: #f0f0f0f0;
  border-radius: 5px;
}

.restaurant-card:hover {
  border: 0.5px solid #d9c2c2f0;
  cursor: pointer;
  background-color: #d9c2c2f0;
}

.search {
  padding: 10px;
}

.restaurant-image {
  width: 100%;
  height: 100px;
  border-radius: 5px;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
}

.restaurant-details {
  display: flex;
  word-break: break-all;
}

.restaurant-address {
  color: rgb(49, 47, 47);
  font-size: small;
}

.top-rated-restaurants-filter {
  margin: 10px;
}

.top-rated-restaurants-btn {
  margin-left: 5px;
  cursor: pointer;
}
