/* .header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #3f4041, #091122);
}

body {
  background: linear-gradient(to right, #3f4041, #091122);
}
.body {
  background: linear-gradient(to right, #3f4041, #091122);
}

.inner {
  display: flex;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 14px;
}

.link:hover {
  padding: 10px 10px;
  background-color: #2b2d31;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logo {
  width: 200px;
  height: 100px;
}

.character-image {
  max-width: 70%;
  min-height: 100%;
  border-radius: 10px;
}

.rick-and-morty-card {
  width: 30%;
  min-height: 100%;
  padding: 5px;
  font-size: 9px;
  margin: 10px;
  color: #5976af;
  background: linear-gradient(to right, #333435, #070e1c);
  border-radius: 5px;
}


.rick-and-morty-card:hover {
  border: 0.5px solid #131313f0;
  cursor: pointer;
  font-size: 10px;
  background-color: #131313f0;
  color: rgb(243, 243, 233);
}

.restaurant-card {
  text-decoration: dotted;
  width: 190px;
  height: 320px;
  padding: 7px;
  font-size: 9px;
  margin: 10px;
  color: #5976af;
  background: linear-gradient(to right, #333435, #070e1c);
  border-radius: 5px;
}

.restaurant-card:hover {
  border: 0.5px;
  cursor: pointer;
  background: linear-gradient(to right, #4b6cb7, #193b80);
  color: rgb(243, 243, 233);
  font-size: 10px;
}

.search {
  padding: 10px;
}

.restaurant-image {
  width: 100%;
  height: 100px;
  border-radius: 5px;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
}

.restaurant-details {
  display: flex;
  word-break: break-all;
}

.restaurant-details-f2-row {
  display: flex !important;
  gap: 10px !important;
}

.restaurant-address {
  font-size: small;
}

.top-rated-restaurants-filter {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.offline-card {
  width: 100%;
  height: 70px;
  background-color: rgb(207, 18, 18);
  color: #e0e0e0;
  font-size: x-large;
  font-weight: 900;
  margin-top: 20px;
}

.search-text {
  width: 400px;
  padding: 12px;
  border: 2px solid #4b6e86;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  color: #333;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-text:focus {
  border-color: #2ecc71;
  box-shadow: 0 0 10px rgba(46, 204, 113, 0.6);
}

.top-rated-restaurants-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #242629;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.top-rated-restaurants-btn:hover {
  background-color: #555;
}

.clear-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #242629;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.clear-btn:hover {
  background-color: #555;
}

.inline-list-alive {
  color: #119d26f0;
  padding: 0;
  font-size: x-small;
}

.inline-list-dead {
  color: #c81a1af0;
  padding: 0;
  font-size: x-small;
}

.status {
  display: inline-block;
  font-weight: 900;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 190px;
  height: 320px;
  margin: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.shimmer-image,
.shimmer-text {
  background: linear-gradient(90deg, #d3cfcf 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}


@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.shimmer-image {
  height: 70%;
}

.shimmer-text {
  height: 30%;
  margin-top: 10px;
}

.species {
  font-size: 12px;
}

.search-box {
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
}

.flex-container {
  display: block;
}

.box {
  padding: 5px;
}

.grocery-card {
  width: 100%;
  height: 70px;
  background-color: rgb(20, 92, 32);
  color: #e0e0e0;
  font-size: x-large;
  font-weight: 900;
  margin-top: 20px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
} */

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 190px;
  height: 320px;
  margin: 20px;
  background-color: #b8adad;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.shimmer-image,
.shimmer-text {
  background: linear-gradient(90deg, #a89595 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.link-hover:hover {
  @apply px-2 py-2 bg-gray-800 text-white text-xl font-bold text-center no-underline rounded-md cursor-pointer transition duration-300 ease-in-out;
}
